# vim: set ts=4 sw=4 tw=79 :
#
# Musicdir configuration
#
# Edit this file, and put it:
#  - in /etc/musicdir.cfg, or
#  - in $HOME/.musicdir.cfg
#
# Config files are read in that order. They may then be overriden by command
# line options of the same name.

# Input directories
[input]

# Each entry in this section should be an input nickname and a directory path.
# These directories should be full of ID3 tagged music files. musicdir will
# never write to these directories.
#
# You must specify at least one input directory, either here or on the command
# line
#iphone=~/Music/iphone
#backup=~/Music/backup

# General settings
[general]

# The output directory.
#
# This is where the tree of symlinks will be output. If this directory doesn't
# exist, it will be created automatically. Real files in this directory should
# be preserved, but don't count on it; it's best to make this an empty
# directory to get started.
#
# You must specify an output directory, either here or on the command line
#output=~/Music/sorted

#
# Everything below this point is optional. The default is shown.
#

# Verbose debugging
#
# Specify a level (0-3)
#verbose=0

# An fnmatch pattern of files considered to be audio
#audio_pattern=*.mp3

# An fnmatch pattern of files considered to be art
#art_pattern=*.jpg,*.jpeg

# The template to use for audio files
#audio_template={albumartist}/{album}/{track} - {title}{extension}

# The template to use for various artist audio files
#audio_various_template={albumartist}/{album}/{track} - {artist} - {title}{extension}

# The template to use for art files
#art_template={audio_dir}/{original}

